@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Righteous&display=swap');



:root {
    --white: #fff;
    --black: #1c2b2d;
    --blue: #31326f;
    --light-blue: #005490;
    --color-primary: #9d0191;
    --color-sec: #db6400;
    --color-grey: #eee;
    --color-dark-grey: #222831;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Quot{
    text-align: center;
    background-color: #ffffff9c;
    height: min-content;
    font-weight: bold;
    margin: 20x;
    border-radius: 30px;
}
h2{
    text-align: center;
    margin: 10px;
}

body {
    font-family: 'Comfortaa', cursive;
    padding-top: 5rem;
    background-image: url('Disha.jpeg');
    background-size: contain;
    background-color: #ffffff9c;
}


p {
    font-size: 1.6rem;
    line-height: 1.5;
}

img {
    width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.user {
    width: 45%;
    border: 1px solid #eee;
    padding: 5px;
}

.user > * {
    margin: 5px 0;
}
button {
    text-align: center;
    background-color: #ffffff9c;
}
.button:hover{
    text-align: center;
    background-color: #ffffff9c;
}
hr {
    color: #000000;
    font-weight: bold;
}

ul {
    list-style: circle;
    padding-left: 1.5rem;
}

ul li {
    font-size: 1.4rem;
    padding: 5px 0;
}

